<!-- costconsolidation/templates/costconsolidation/dashboard.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h2 class="mt-3">Dashboard</h2>

    <!-- Chart for each cloud provider -->
    {% for provider, provider_data in grouped_data.items %}
        <div class="card mt-3">
            <div class="card-header">
                {{ provider }}
            </div>
            <div class="card-body">
                <canvas id="{{ provider }}Chart" width="400" height="200"></canvas>
            </div>
            <script>
                var {{ provider }}Data = {{ provider_data|json_script }};
                var {{ provider }}ChartCanvas = document.getElementById("{{ provider }}Chart").getContext('2d');

                var {{ provider }}Chart = new Chart({{ provider }}ChartCanvas, {
                    type: 'bar',
                    data: {
                        labels: {{ provider }}Data.labels,
                        datasets: [{
                            label: 'Cost',
                            data: {{ provider }}Data.datasets[0].data,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    {% endfor %}

    <!-- Consolidated view chart -->
    <div class="card mt-3">
        <div class="card-header">
            Consolidated Chart
        </div>
        <div class="card-body">
            <canvas id="consolidatedChart" width="400" height="200"></canvas>
        </div>
        <script>
            var consolidatedData = {{ grouped_data|json_script }};
            var consolidatedChartCanvas = document.getElementById("consolidatedChart").getContext('2d');

            var consolidatedChart = new Chart(consolidatedChartCanvas, {
                type: 'bar',
                data: {
                    labels: consolidatedData.labels,
                    datasets: consolidatedData.datasets,
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</div>
{% endblock %}